@using WebXNCovid.Models
@model  GenerateQRSuccessViewModel

<div class="row">
    <div class="input-dialog">

        @using (Html.BeginForm("GenerateQRSuccess", "QRCodeGenerator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            var info = ViewData["GenerateQRInfo"] as GenerateQRSuccessViewModel;

            <p class="success-header">Tạo mã thành công!</p>
            <div class="success-info">
                <p>Ngày tạo: <span class="info-display">@info.CreateDate.ToString("dd/MM/yyyy hh:mm")</span></p>
                <p>Người tạo: <span class="info-display">@info.CreatedUser</span></p>
                <p>Số lượng: <span class="info-display">@info.AmountQR</span></p>
                <p>Đã xuất các mã từ <span class="info-display">@info.IdFrom</span> - <span class="info-display">@info.IdTo</span></p>
                <p>Gồm <span class="info-display">@info.AmountPage</span> trang A4</p>                
                @Html.HiddenFor(m => m.IdFrom, Model.IdFrom)
                @Html.HiddenFor(m => m.IdTo, Model.IdTo)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 h-align-center">
                    <input type="submit" class="btn btn-custom" value="In mã" />
                </div>
            </div>
        }

    </div>
</div>
