@using WebXNCovid.Models
@model  GenerateQRSuccessViewModel
@{
    ViewBag.Title = "Tạo mã QR thành công";
}
<div class="row">
    <div class="input-dialog">

        @using (Html.BeginForm("GenerateQRSuccess", "QRCodeGenerator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            var info = ViewData["GenerateQRInfo"] as GenerateQRSuccessViewModel;

            <p class="success-header">Tạo mã thành công!</p>
            <div class="success-info">
                <p>Ngày tạo: <span class="info-display">@info.CreateDate.ToString("dd/MM/yyyy hh:mm")</span></p>
                <p>Người tạo: <span class="info-display">@info.CreatedUser</span></p>
                <p>Số lượng: <span class="info-display">@info.AmountQR</span></p>
                <p>Đã xuất các mã từ <span class="info-display">@info.IdFrom</span> - <span class="info-display">@info.IdTo</span></p>
                <p>Gồm <span class="info-display">@info.AmountPage</span> trang A4</p>
                @Html.HiddenFor(m => m.IdFrom, Model.IdFrom)
                @Html.HiddenFor(m => m.IdTo, Model.IdTo)
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 h-align-center">
                    <input type="button" onclick="print()" class="btn btn-custom" value="In mã" />
                </div>
            </div>
        }

    </div>
</div>

<div style="display: none">
    <div id="printarea" style=" width: 811px;    min-height: 29.7cm;     background-color: white;    padding: 10px 0px;">
        @{
            int i = 0;
        }
        @foreach (var item in Model.lstQR)
        {
            i++;
            <table style="width: 100%;   border-bottom: 1px #000000 dotted;">
                <tr>
                    <td style="width: 130px ;margin: 10px 0px; padding: 10px 5px 10px 10px;">
                        <img style="margin-left: 22px" src="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(item))" />
                    </td>
                    <td>
                        <h5 style="margin-top: 30px; text-align: center;    font-weight: bold;">PHIẾU THÔNG TIN XÉT NGHIỆM</h5>
                        <div class="">
                            <span class="background-color: #FFFFFF; display: inline-block;">Họ và tên:.....................................................................................Nam/Nữ:....................................</span>
                            @*<span class="offset-7 field">Nam: &#11036 Nữ: &#11036 </span>*@
                        </div>
                        <div class="">
                            <span class="background-color: #FFFFFF; display: inline-block;">Ngày sinh:....../...../............Số điện thoại:........................................................................................</span>
                            @*<span class="offset-4 field">Số điện thoại: </span>*@
                        </div>
                        <div class="">
                            <span class="background-color: #FFFFFF; display: inline-block;">Sống tại: Số nhà/Tổ/Xóm.............................Đường/Phố/Thôn:......................................................</span>
                            @*<span class="offset-3 field">Đường/Phố/Thôn: </span>*@
                        </div>
                        <div class="" style="margin-bottom: 20px">
                            <span class="background-color: #FFFFFF; display: inline-block;">Phường/Xã.................................Quận/Huyện:..............................Tỉnh/TP:....................................</span>
                            @*<span class="offset-2 field">Quận/Huyện: </span>
                                <span class="offset-2 field">Tỉnh/Thành phố: </span>*@
                        </div>
                    </td>
                </tr>
            </table>
            if (i == 6)
            {
                <div style="page-break-after: always;"></div>
                i = 0;
            }
            @*<div class="info-section">
                    <div class="row">
                        <div class="col-2 qr-section">
                        </div>
                        <div class="col-10 data-section">
                            <h5 class="header-section">PHIẾU THÔNG TIN XÉT NGHIỆM</h5>
                            <div class="dots">
                                <span class="field">Họ và tên: </span>
                                <span class="offset-7 field">Nam: &#11036 Nữ: &#11036 </span>
                            </div>
                            <div class="dots">
                                <span class="field">Ngày sinh: </span>
                                <span class="offset-4 field">Số điện thoại: </span>
                            </div>
                            <div class="dots">
                                <span class="field">Sống tại: Số nhà/Tổ/Xóm </span>
                                <span class="offset-3 field">Đường/Phố/Thôn: </span>
                            </div>
                            <div class="dots">
                                <span class="field">Phường/Xã </span>
                                <span class="offset-2 field">Quận/Huyện: </span>
                                <span class="offset-2 field">Tỉnh/Thành phố: </span>
                            </div>
                        </div>
                    </div>
                </div>*@
        }
    </div>
</div>
<script>
    function print() {
        var divToPrint = document.getElementById("printarea");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

</script>