@using WebXNCovid.Models
@model  GenerateQRSuccessViewModel
@{
    ViewBag.Title = "Tạo mã QR thành công";
}
<div class="centered-dialog justify-centered">

    @using (Html.BeginForm("GenerateQRSuccess", "QRCodeGenerator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <p class="success-header">Tạo mã thành công!</p>
        <div class="success-info">
            <p>Ngày tạo: <span class="info-display">@Model.CreateDate.ToString("dd/MM/yyyy hh:mm")</span></p>
            <p>Người tạo: <span class="info-display">@Model.CreatedUser</span></p>
            <p>Số lượng: <span class="info-display">@Model.AmountQR</span></p>
            <p>Đã xuất các mã từ <span class="info-display">@Model.IdFrom</span> - <span class="info-display">@Model.IdTo</span></p>
            <p>Gồm <span class="info-display">@Model.AmountPage</span> trang A4</p>
            @Html.HiddenFor(m => m.IdFrom, Model.IdFrom)
            @Html.HiddenFor(m => m.IdTo, Model.IdTo)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 h-align-center">
                <input type="button" onclick="print()" class="btn btn-submit" value="In mã" />
            </div>
        </div>
    }
</div>

<div style="display: none">
    <div id="printarea" style=" width: 910px;    min-height: 29.7cm;     background-color: white;    padding: 10px 0px;">
        @Html.Raw("<style> @Page {size: A4; margin: 0; } @media print { html, body {width: 210mm; height: 297mm; } } </style>")
        @{
            int i = 0;
        }
        @foreach (var item in Model.lstQR)
        {
            i++;
            <table style="width: 100%;">
                <tr style="">
                    <td style="margin: auto;">
                        <img style="" src="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(item))" />
                    </td>
                    <td style="font-size: 18px;">
                        <p style="margin-bottom: 10px; margin-top: 5px; text-align: center; font-weight: bold;">PHIẾU LẤY MẪU XÉT NGHIỆM COVID</p>
                        <div class="">
                            <span style="background-color: #FFFFFF; display: inline-block; line-height: 44px;">Họ và tên:............................................................................................ Giới tính: Nam &#11036 Nữ &#11036 </span>
                        </div>
                        <div class="">
                            <span style="background-color: #FFFFFF; display: inline-block; line-height: 44px;">Ngày sinh:........./........./....................Số điện thoại:..............................................................................</span>
                        </div>
                        <div class="">
                            <span style="background-color: #FFFFFF; display: inline-block; line-height: 44px;">Địa chỉ:.................................................................................................................................................</span>
                        </div>
                        <div class="" style="margin-bottom: 10px">
                            <span style="background-color: #FFFFFF; display: inline-block; line-height: 44px;">Phường/Xã.....................................Quận/Huyện:..................................Tỉnh/TP:..................................</span>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="height: 22px; width: 97%; margin: auto auto; background-image: url('../../Assets/scissors-icon.png'); background-repeat: no-repeat; background-position: right; position: relative; -webkit-print-color-adjust: exact;">
                <div style="position: relative; top: 50%; border-top: 1px dotted black; margin-top: -3px;"></div>
            </div>
            if (i == 5)
            {
                <div style="page-break-after: always;"></div>
                i = 0;
            }
        }
    </div>
</div>
<script>
    function print() {
        var divToPrint = document.getElementById("printarea");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.document.close();
        newWin.focus();
        setTimeout(function () {
            newWin.print();
            newWin.close();
        }, 200);
    }

</script>