@using WebXNCovid.Models;
@using System.Globalization;
@using System.Collections.Generic;
@model SearchHistoryCreateQRViewModel
@{
    Layout = "~/Views/Shared/_LayoutWithoutBackground.cshtml";
    ViewBag.Title = "Tra cứu QR";
}
<div style="background-color: white; width: 100%">
    <div class="container-fluid">
        <div class="row">

            @using (Html.BeginForm("SearchHistoryCreateQR", "QRCodeGenerator", FormMethod.Post, new { @class = "form-horizontal form-search", role = "form" }))
            {
                var date = @Model != null ? @Model.DateSearch.ToString("yyyy-MM-dd") : @DateTime.Now.ToString("yyyy-MM-dd");
                <div class="inline">
                    <label class="">Chọn ngày</label>
                </div>
                <div class="col-sm-4 col-md-3 col-xl-3 input-date">
                    <input type="date" name="FromCreateDate" class="form-control" required value="@date" />
                </div>
                @*<div class="col-sm-4 col-md-3 col-xl-3 input-date">
                <input type="date" name="ToCreateDate" class="form-control" required value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
            </div>*@
                <div class="col-sm-2 col-md-1 inline">
                    <input type="submit" class="btn btn-submit" value="Tra cứu" />
                </div>
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;">Ngày</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col" style="width: 20%;">Người tạo</th>
                        <th scope="col">Từ số</th>
                        <th scope="col">Đến số</th>
                        <th scope="col" style="width: 12%">Số trang</th>
                        <th scope="col">In lại</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    if (Model.ListHistory.Count > 0)
                    {
                        <tbody>
                            @foreach (var item in Model.ListHistory)
                            {
                                <tr>
                                    <td class="left-align">@DateTime.ParseExact(item.CreateDate, "yyyy/MM/dd HH:mm:ss", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")</td>
                                    <td>@item.QRAmount</td>
                                    <td>@item.CreateUser</td>
                                    <td class="id-from">@item.MinNumber</td>
                                    <td class="id-to">@item.MaxNumber</td>
                                    <td class="num-of-pages">@item.NumOfPrint</td>
                                    <td><input id="print-btn" type="button" class="btn btn-submit" onclick="print(@item.MinNumber,@item.MaxNumber)" value="In lại" data-toggle="modal" data-target="#confirmModal" /></td>
                                </tr>
                            }
                        </tbody>
                    }
                }
            </table>
            @if (Model != null && Model.ListHistory.Count == 0)
            {
                <p style="margin-left: 30px;">Không tìm thấy kết quả phù hợp</p>
            }

            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius: 32px">
                        <div class="modal-header modal-header-custom" style="border-bottom: none !important;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="confirm-content text-center">Bạn chắc chắn muốn in lại <span id="num-of-pages" style="color: #86CF3C;"></span> trang<br /> từ số <span id="id-from" style="color: #64A0F3;"></span> đến số <span id="id-to" style="color: #64A0F3;"></span>?</p>
                        </div>
                        <div class="h-align-center pt-2 pb-4">
                            <button type="button" id="btncfp" onclick="printqr()" class="btn btn-submit">In lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function printqr(min, max) {
        $.ajax({
            url: "/QRCodeGenerator/PrintQR?min=" + min + '&max=' + max,
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            cache: false,
            timeout: (10 * 1000),
            success: function (obj) {
                if (obj.valid) {
                    newWin = window.open("");
                    newWin.document.write(obj.data);
                    newWin.document.close();
                    newWin.focus();
                    setTimeout(function () {
                        newWin.print();
                        /*newWin.close();*/
                    }, 200);
                }
                else {
                }
            },
            error: function (req, status, error) {
                return false;
            }
        });
        $('#confirmModal').modal('hide');
    }

    function print(min, max) {
        document.getElementById("btncfp").onclick = function () { printqr(min, max) };
    }
</script>